.wrapper {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 50px;
    row-gap: 50px;
}

body {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-align: center;
    font-size: 10px;
    margin: 0 0 0.1em 0;
    color: rgb(89, 112, 240);
}